body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  border: 2px solid black;
}
.calculator {
  width: 400px;
  min-height: 500px;
}

.display {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: right;
  font-size: 1.5em;
  width: 100px;
  height: 100px;
}

.header,
.numpad {
  display: flex;
}

button {
  width: 100px;
  height: 100px;
}
